body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



.header {
    background-color: rgb(30, 182, 47);
    color: black;
    text-align: center;
    padding: 40px;
    font-size: 24px;
    border: 1px solid #000;
}

.menu-bar {
    display: flex;
    align-items: center;
    background-color: #444;
    padding: 5px;
}

.menu-bar a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
}

.search-box {
    margin-left: auto;
    display: flex;
}

.search-box input {
    padding: 5px;
}

.search-box button {
    background-color: rgb(123, 195, 23);
    color: white;
    border: none;
    padding: 5px 10px;
}

.main-content {
    display: flex;
    padding: 10px;
}

.left-content {
    flex: 3;
    margin-right: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #999;
    padding: 8px;
    text-align: left;
}

.table-header {
    background-color: orange;
    color: white;
}

.total-row {
    background-color: rgb(89, 210, 124);
    font-weight: bold;
    color: #ffffff;
}

.right-menu {
    flex: 1;
    background-color: gold;
    padding: 10px;
    display: flex;
    flex-direction: column;
   
}

.right-menu a {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;

}

.footer {
    background-color: rgb(137, 210, 35);
    text-align: center;
    padding: 59px;
    border: 1px solid #000;
    font-weight: bolder;
    font-size: 25px;
}
.pic img {
   width: 250px;
  height: auto;
  object-fit: cover;
  border-radius: 9px;
  
}

.pic {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 80%;
    align-items: center;
    
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    align-items: left;
}
.btn {
    background-color: rgb(30, 182, 47);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    width: 50%;
    height: auto;
}
.btx {
    background-color: rgb(179, 16, 16);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    width: 50%;
    height: auto;
}
.formz {
    display: flex;
    flex-direction: column;
    
    width: 50%;
}